## Table of Contents

## Goals
This notebook contains an analysis on Violence Against Women and Girls data. The goal for this project was to do the following:
* Get acquainted with the data* 
Clean the data so it is ready for analysi
* Develop some questions for analysis
* Analyze variables within the data to gain patterns and insights on these questionsons

## Data 
The data for this project was downloaded from Kaggle:

https://www.kaggle.com/datasets/andrewmvd/violence-against-women-and-girls?resource=download

Information regarding the features for the data are located in the `Column` section on the website.

## Loading Data

In [17]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re

In [37]:
violence_data = pd.read_csv('violence_data.csv')
violence_data.head(10)

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015,NaN
1,1,Afghanistan,F,Education,Higher,... if she burns the food,01/01/2015,10.1
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,01/01/2015,13.7
3,1,Afghanistan,F,Education,Primary,... if she burns the food,01/01/2015,13.8
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015,13.8
5,1,Afghanistan,F,Employment,Employed for kind,... if she burns the food,01/01/2015,17.0
6,1,Afghanistan,F,Age,15-24,... if she burns the food,01/01/2015,17.3
7,1,Afghanistan,F,Employment,Unemployed,... if she burns the food,01/01/2015,18.0
8,1,Afghanistan,F,Residence,Rural,... if she burns the food,01/01/2015,18.1
9,1,Afghanistan,F,Age,25-34,... if she burns the food,01/01/2015,18.2

In [27]:
violence_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12600 entries, 0 to 12599
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RecordID               12600 non-null  int64
 1   Country                12600 non-null  object
 2   Gender                 12600 non-null  object
 3   Demographics Question  12600 non-null  object
 4   Demographics Response  12600 non-null  object
 5   Question               12600 non-null  object
 6   Survey Year            12600 non-null  object
 7   Value                  11187 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 787.6+ KB

In [35]:
violence_data.nunique()

RecordID                 420
Country                   70
Gender                     2
Demographics Question      5
Demographics Response     15
Question                   6
Survey Year               18
Value                    757
dtype: int64

In [43]:
violence_data.isnull().sum()

RecordID                    0
Country                     0
Gender                      0
Demographics Question       0
Demographics Response       0
Question                    0
Survey Year                 0
Value                    1413
dtype: int64

In [45]:
violence_data.columns

Index(['RecordID', 'Country', 'Gender', 'Demographics Question',
       'Demographics Response', 'Question', 'Survey Year', 'Value'],
      dtype='object')

In [47]:
violence_data.describe()

           RecordID         Value
count  12600.000000  11187.000000
mean     210.500000     19.762537
std      121.248024     16.986437
min        1.000000      0.000000
25%      105.750000      6.200000
50%      210.500000     14.900000
75%      315.250000     29.200000
max      420.000000     86.900000

## Data Information 
Some immediate insights are:
* There are 8 columns and 12600 rows.
* The name and datatype of each column most values are strings in this data set.
* We have missing data is in the Value column.

## Data Cleaning
As mentioned before, the `Value` column has missing data. We exactly have 1413 missing values in this column, it represents approximately the 11%. Even though is big percentage of missing data. We have decided to use `Listwise Deleteion`, because we consider this data as `Missing At Random` data, also known as `MAR`.

In [50]:
violence_data.dropna(inplace=True)

In [52]:
violence_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11187 entries, 1 to 12599
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RecordID               11187 non-null  int64
 1   Country                11187 non-null  object
 2   Gender                 11187 non-null  object
 3   Demographics Question  11187 non-null  object
 4   Demographics Response  11187 non-null  object
 5   Question               11187 non-null  object
 6   Survey Year            11187 non-null  object
 7   Value                  11187 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 786.6+ KB